#{extends 'main.html' /}
#{set title:'Home' /}

#{if frontPost}

    #{cache 'home-page', for:'10mn'}
        #{display post:frontPost, as:'home' /}
    #{/cache}

    #{if olderPosts.size()}

        <div class="older-posts">
            <h3>Older posts <span class="from">from this blog</span></h3>

            #{list items:olderPosts, as:'oldPost'}
                #{cache "teaser:${'$'}{oldPost.id}", for:'5mn'}
                    #{display post:oldPost, as:'teaser' /}
                #{/cache}
            #{/list}
        </div>

    #{/if}

#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
